@model LoginViewModel

@*
    Vídeo 70 - 02:45
*@
@{
    ViewBag.Title = "Login de Utilizador";
}

<h1>Login de Utilizador</h1>

<hr />
<div class="row">
    <div class="col-md-6">

        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <div class="form-check">
                    <input asp-for="LembrarDeMim" class="form-check-input" style="height: 16px; width: 16px"/>
                    <label asp-for="LembrarDeMim" class="form-check-label">
                        @Html.DisplayNameFor(m => m.LembrarDeMim)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary"  />
            </div>
        </form>
        
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}